{% extends 'base_foot.html' %}
{#模板继承于base_foot#}

{% block head %}
    <script type="text/javascript" src="/static/js/register.js"></script>
    <script type="text/javascript">
    $(function(){

	var error_name = false;
	var error_password = false;
	var error_check_password = false;
	var error_email = false;
	var error_check = false;

    $('#p2').blur(function() {
		check_cpwd();
	});
	$('#user_name1').blur(function() {
		check_user_name();
	});
	$('#email1').blur(function() {
		check_email();
	});

	function check_user_name(){
		var len = $('#user_name1').val().length;

		if(len<5||len>20)
		{
			$('#user_name1').next().html('输入5-20个字符的用户名');
			$('#user_name1').next().show();
			error_name = true;

		}
		else
		{
			$.get('{% url "df_user:password_exist" %}?uname='+$('#user_name1').val(),function(data){
                if (data.count != 0) {
                    error_name = true;
                }else{
                    $('#user_name1').next().html('用户名不存在').show();
                }
            });
        }
	}

	function check_email(){
		var re = /^[a-z0-9][\w\.\-]*@[a-z0-9\-]+(\.[a-z]{2,5}){1,2}$/;

		if(re.test($('#email1').val()))
		{
			$('#email1').next().hide();
			error_email = false;
		}
		else
		{
			$('#email1').next().html('你输入的邮箱格式不正确');
			$('#email1').next().show();
			error_check_password = true;
		}

	}

});
    </script>
    <script>
    function check_cpwd(){
		var pass = $('#p1').val();
		var cpass = $('#p2').val();
		if(pass!=cpass)
		{
			$('#p2').next().html('两次输入的密码不一致');
			$('#p2').next().show();
			error_check_password = true;
		}
		else
		{
			$('#p2').next().hide();
			error_check_password = false;
		}

	}
    function pwd_again() {
        var username = $("#user_name1").val();
        var email = $("#email1").val();
        var p1 = $("#p1").val();
        var p2 = $("#p2").val();
        $.ajax({
           url:"/user/password_1",
            type:'GET',
            "dataType":"json",
            data:{
               user_name:username,
                email:email,
                password:p1,
            },
            success:function (data) {
                if (data.count == 0){
                    alert("你的邮箱输入错误，请重新输入")
                    window.location.reload();
                }else{
                    alert("找回密码成功，请重新登录")
                    window.history.back(-1);
                }
            }

        }


        )

    }
    </script>
{% endblock head %}

{% block body %}
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="/static/images/logo02.png"></a>
			<div class="reg_slogan">足不出户  ·  新鲜每一天</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>密码找回</h1>
			</div>
			<div class="reg_form clearfix">
                <form id='reg_form' method="get">
				<ul>
					<li id="two">
						<label>用户名:</label>
						<input type="text" name="user_name1" id="user_name1">
						<span class="error_tip">提示信息</span>
					</li>
					<li id="three">
						<label>邮箱:</label>
						<input type="text" name="email1" id="email1">
						<span class="error_tip">提示信息</span>
					</li>
                    <li id="five">
						<label>新密码:</label>
						<input type="password" name="p1" id="p1">
						<span class="error_tip">提示信息</span>
					</li>
                    <li id="four">
						<label>确认密码:</label>
						<input type="password" name="p2" id="p2">
						<span class="error_tip">提示信息</span>
					</li>
                    <li class="reg_sub" id="one">
                        <input  value="确 定" onclick="pwd_again()" >
                    </li>
				</ul>
                </form>
			</div>

		</div>

	</div>

{% endblock body %}