{% extends 'base_foot.html' %}
{#模板继承于base_foot#}

{% block head %}
    <script type="text/javascript" src="/static/js/register.js"></script>
    <script type="text/javascript">
    $(function(){

	var error_name = false;
	var error_password = false;
	var error_check_password = false;
	var error_email = false;
	var error_check = false;


	$('#user_name').blur(function() {
		check_user_name();
	});
	$('#email').blur(function() {
		check_email();
	});



});
    </script>
    <script>
    function pwd_again() {
        var username = $("#user_name").val();
        var email = $("#email").val();
        $.ajax({
           url:"/user/password_1",
            type:'GET',
            data:{
               username:username,
                email:email
            },
            success:function (data) {
                if (data.count == 0){
                    $('#email').next().html('邮箱输入有误');
                }else{
                    $("#one").empty();
                    tr = "<li><input id='two'></li>"
                    $("#one").append()
                }
            }

        }


        )

    }
    </script>
{% endblock head %}

{% block body %}
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="/static/images/logo02.png"></a>
			<div class="reg_slogan">足不出户  ·  新鲜每一天</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>新密码</h1>
			</div>
			<div class="reg_form clearfix">
                <form action="{% url "df_user:register_handle" %}" id='reg_form' method="post">
                    {% csrf_token %}
				<ul>
					<li id="two">
						<label>新密码:</label>
						<input type="text" name="password" id="password">
						<span class="error_tip">提示信息</span>
					</li>
					<li id="three">
						<label>确认密码:</label>
						<input type="text" name="password_again" id="password_again">
						<span class="error_tip">提示信息</span>
					</li>
                    <li class="reg_sub" id="one">
                        <input type="submit" onclick="" value="确 定" >
                    </li>
				</ul>
                </form>
			</div>

		</div>

	</div>

{% endblock body %}