{% extends 'base.html' %}

{% block center_body %}


	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
                <li><a href="{% url "df_user:info" %}">· 个人信息</a></li>
				<li><a href="{% url "df_user:order" 1 %}">· 全部订单</a></li>
				<li><a href="{% url "df_user:site" %}">· 收货地址</a></li>
                <li><a href="{% url "df_user:password_again" %}" class="active">· 修改密码</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
                        <dt>收件人：{{ user.ushou }}</dt>
                        <dt>电话：{{ user.uphone }}</dt>
                        <dt>当前地址：{{ user.uaddress }}</dt>
{#                        <a href="/user/place_order" style="display: block; width: 80px; height:30px; line-height: 30px; text-align: center;font-size: 13px; " class="info_submit">提交订单</a>#}
					</dl>
				</div>
				<h3 class="common_title2">修改密码</h3>
				<div class="site_con">
					<form action="" method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label>旧密码：</label>
							<input type="password" name="upassword" value="" id="upassword">
                            <span class="error_tip"></span>
						</div>
                        <div class="form_group">
                            <label>新密码：</label>
                            <input type="password" name="upassword1" value="" id="upassword1">
                            <span class="error_tip"></span>
                        </div>
                        <div class="form_group">
                            <label>确认密码：</label>
                            <input type="password" name="upassword2" value="" id="upassword2">
                            <span class="error_tip"></span>
                        </div>
						<input onclick="fun1()" name="" value="修改密码" class="info_submit">
					</form>
				</div>
		</div>
	</div>

    <script>
    $(function(){

	var error_name = false;
	var error_password = false;
	var error_check_password = false;
	var error_email = false;
	var error_check = false;
	$('#upassword').blur(function() {
		check_pwd();

	});
	$('#upassword1').blur(function() {
		check_pwd2();
	});
	$('#upassword2').blur(function() {
		check_cpwd();
	});
	});
    function fun1() {
        var password1=$('#upassword').val();
        var password2=$('#upassword1').val();
        var password3=$('#upassword2').val();
        $.ajax(
            {
                "url":"/user/password_jiu",
                "type":"get",
                "dataType":"json",
                "data":{
                    password1: password1,
                    password2: password2,
                    password3: password3,
                },
                success:function (data) {
                    if (data.count == 1){
                        alert("密码修改成功,请重新登录")
                        var href=document.getElementById("tuichu").href;window.open(href);
                    }else{
                        alert("你的旧密码输入错误")
                    }
                }
            }
        )
    }
    function check_pwd(){
		var len = $('#upassword').val().length;
		if(len<4||len>20)
		{
			$('#upassword').next().html('密码最少4位，最长20位');
			$('#upassword').next().show();
			error_password = true;
		}
		else
		{
			$('#upassword').next().hide();
			error_password = false;
		}
	}
	function check_pwd2(){
		var len = $('#upassword1').val().length;
		if(len<4||len>20)
		{
			$('#upassword1').next().html('密码最少4位，最长20位');
			$('#upassword1').next().show();
			error_password = true;
		}
		else
		{
			$('#upassword1').next().hide();
			error_password = false;
		}
	}


	function check_cpwd(){
		var pass = $('#upassword1').val();
		var cpass = $('#upassword2').val();
		if(pass!=cpass)
		{
			$('#upassword2').next().html('两次输入的密码不一致');
			$('#upassword2').next().show();
			error_check_password = true;
		}
		else
		{
			$('#upassword2').next().hide();
			error_check_password = false;
		}

	}

    </script>
{% endblock center_body %}